<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link rel="stylesheet" type="text/css" href="https://www.cs.mun.ca/~h65ped/Public/country%20data%20for%20force%20directed%20graph/flags.css">
  </head>
  <body>
  	<main>
			<section class="card">
	 			<h1>Force Directed Graph of State Contiguity</h1>
        <div class="forceBox">
				  <svg class="chart"></svg>
        </div>
			</section>
    </main>
  </body>
</html>