<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
  	<main>
			<section class="card">
	 			<h1>Force Directed Graph of State Contiguity</h1>
				<svg class="chart" width="640" height="480"></svg>
			</section>
    </main>
  </body>
</html>